#sidebar {
  position: absolute;
  width: 320px;
  height: 100%;
  background: rgb(95, 125, 139);
  padding: 40px 30px 30px 30px;
  box-sizing: border-box;
}

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

}

.job-box, .job-table, .job-table-header, .job-row {
  width: 260px;
}

.job-table {
  margin-top: 20px;
}

.job-table-header {
  height: 45px;
}

.job-row {
  height: 20px;
}

.job-table-button, .job-table-checkbox, .job-table-quantity, 
.job-row-checkbox, .job-row-placeholder, .job-row-quantity {
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */    
  flex: 1;
}

.job-box-name {
  -webkit-flex: 7;  /* Safari 6.1+ */
  -ms-flex: 7;  /* IE 10 */    
  flex: 7;
}

.job-table-name {
  -webkit-flex: 6;  /* Safari 6.1+ */
  -ms-flex: 6;  /* IE 10 */    
  flex: 6;
}

.job-row-name {
  -webkit-flex: 5;  /* Safari 6.1+ */
  -ms-flex: 5;  /* IE 10 */    
  flex: 5;
}

.job-table-quantity {
  background-color: rgb(80, 106, 118);
  border-radius: 25px;
}

.job-table-quantity, .job-row-quantity {
  text-align: center;
}

.job-box-name {
  font-size: 1.2em;
  color: rgb(215, 222, 226);
}

.job-box-button {
  border: 0px;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0,0,0,0);
  color: white;
}

.job-row>p {
  font-size: 0.8em;
  color: rgb(215, 222, 226);
}


p {
  margin: 0px;
  color: white;
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  /* background-color: red; */
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

button:focus {
  outline: 0;
}
